<a href="https://colab.research.google.com/github/Luthercop/learningsql-2875059/blob/main/google_Collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Data Engineering")

Hello Data Engineering

In [4]:
var=80
var2=100

check=var==var2

check =var!=var2

check

True

In [6]:
num =7

if num >10:
  print ("number is greater than 10 ")
else:
  print ("number is lower than 10 ")

number is lower than 10